body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000000;

  
}

#wrapper {
  width: 100%;
  max-width: 964px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  


}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;

  color:#fff;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  /* display:flex; */


  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 378px;
  height: 363px;
  background: green;
}
.item-carousel{
 border:1px solid rgb(226, 23, 23);
 display:flex;
}
.item-carousel a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}
